.besar{
    width: 18rem;
}

.gambar {
    border-radius: 30%;
    width: 80%;
    height: 80%;
    margin-top: 15%;
}

.noul{
    list-style-type: none;
}

.fb{
    background-image: url("https://i.pinimg.com/736x/fb/7e/be/fb7ebe224986c93ab8b7ba9ecafb9877.jpg");
}